name: CI Publish

on:
  push:
    tags: [ 'v*.*.*' ]

env:
  IMAGE_NAME: docker.io/bitshock/switchgear

jobs:
  tests:
    name: Rust Tests For Publish
    uses: ./.github/workflows/rust-tests-workflow.yml

#  tests:
#    name: Call Rust Tests
#    runs-on: ubuntu-latest
#    steps:
#      - name: Skip tests (temporary)
#        run: echo "Tests skipped for debugging"

  docker:
    name: Docker Publish
    needs: tests
    runs-on: ubuntu-latest
    if: vars.PUBLISH_DRY_RUN == 'true' || github.repository == 'bitshock-src/switchgear'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        if: vars.PUBLISH_DRY_RUN != 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Generate image tags and labels
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}

      - name: Log dry run
        if: vars.PUBLISH_DRY_RUN == 'true'
        run: |
          echo "== DOCKER PUSH DRY RUN =="
          echo "${{ steps.meta.outputs.tags }}" | tr ',' '\n' | while read -r tag; do
            echo "  - $tag"
          done

      - name: Build and push multi-arch image
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: ${{ vars.PUBLISH_DRY_RUN != 'true' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}



  cargo:
    name: Cargo Publish
    needs: tests
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/bitshock-src/switchgear/ci-rust:1.0.0

    if: vars.PUBLISH_DRY_RUN == 'true' || github.repository == 'bitshock-src/switchgear'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Publish dry run
        if: vars.PUBLISH_DRY_RUN == 'true'
        run: cargo publish --dry-run

      - name: Publish crates.io
        if: vars.PUBLISH_DRY_RUN != 'true'
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
