name: CI Tests

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'ci/Dockerfile'
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
    paths-ignore:
      - 'ci/Dockerfile'
  workflow_dispatch:

permissions:
  statuses: write

jobs:
  tests:
    name: Rust Tests For Branch Push
    uses: ./.github/workflows/rust-tests-workflow.yml