name: Rust Tests - On Push Branch

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'ci/Dockerfile'
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
    paths-ignore:
      - 'ci/Dockerfile'
  workflow_dispatch:

jobs:
  tests:
    name: Call Rust Tests
    uses: ./.github/workflows/rust-tests-workflow.yml